js-object, js-array, js-string, js-number, js-boolean, js-null {
  display: inline-block;
}
 
js-object > *, js-array > * {
  display: table-row;
}
 
js-object > *:before, js-array > *:before {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em;
}
 
js-object:empty:after {
  content: '{}'
}
 
js-object > *:before {
  content: attr( data-key );
}
 
js-array {
  counter-reset: array -1;
}
 
js-array:empty:after {
  content: '[]'
}
 
js-array > *:before {
  content: '[' counter( array ) ']';
}      
 
js-array > * {
  counter-increment: array;
}      
 
js-null:after {
  content: 'null';
}
