/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

js-object, js-array, js-number, js-string, js-boolean, js-null {
  background: #fdf6e3;  
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

js-object > *:before, js-array > *:before {
  padding: 0.25em;
  padding-right: 0.5em;
  
  background: #eee8d5;
  font-weight: normal;
}

js-object > *:before {
  color: #b58900;
}

js-array > *:before {
  color: #657b83;
}

js-object {
  outline: 1px solid #93a1a1;
}

js-array {
  outline: 1px dotted #93a1a1;
}

js-string, js-number {
  color: #2aa198;
}

js-boolean {
  color: #657b83;
}

js-null {
  color: #657b83;
}